In [64]:
import pandas as pd
import chardet

In [65]:
def smart_read_csv(file_path) -> pd.DataFrame:
    with open(file_path,'rb') as f:
        res = chardet.detect(f.read(1000))

    return pd.read_csv(file_path, encoding=res['encoding'], encoding_errors='replace')

try:

    raw_orders = smart_read_csv('../data/orders.csv')
    raw_orders_details = smart_read_csv('../data/order_details.csv')
    raw_pizzas = smart_read_csv('../data/pizzas.csv')
    raw_pizza_types = smart_read_csv('../data/pizza_types.csv')

    print(f"Lectura exitosa de los archivos csv.")
except Exception as e:
    print(f"Error en la lectura de alguno de los archivos csv: {e}")

Lectura exitosa de los archivos csv.

In [66]:
dimDate = raw_orders['date'].to_frame(name='date')
dimDate['date'] = pd.to_datetime(raw_orders['date'], errors='coerce')
dimDate = dimDate.drop_duplicates()

In [67]:
dimDate['year'] = dimDate['date'].dt.year
dimDate['month'] = dimDate['date'].dt.month
dimDate['day'] = dimDate['date'].dt.day
dimDate['day_name'] = dimDate['date'].dt.day_name()
dimDate['quarter'] = dimDate['date'].dt.quarter
dimDate['is_weekend'] = dimDate['date'].dt.weekday > 5

            date  year  month  day   day_name  quarter  is_weekend
20881 2015-12-21  2015     12   21     Monday        4       False
20936 2015-12-22  2015     12   22    Tuesday        4       False
20994 2015-12-23  2015     12   23  Wednesday        4       False
21050 2015-12-24  2015     12   24   Thursday        4       False
21106 2015-12-26  2015     12   26   Saturday        4       False
21144 2015-12-27  2015     12   27     Sunday        4        True
21179 2015-12-28  2015     12   28     Monday        4       False
21218 2015-12-29  2015     12   29    Tuesday        4       False
21245 2015-12-30  2015     12   30  Wednesday        4       False
21277 2015-12-31  2015     12   31   Thursday        4       False